<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mizdooni</property>
        <property name="hibernate.connection.username">mizdooni</property>
        <property name="hibernate.connection.password">mizdooni</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Other properties -->
    </session-factory>
</hibernate-configuration>
